[user]
	name = Stephen Edgar
	email = stephen@netweb.com.au

[grep]
	lineNumber = true
	extendRegexp = true

[alias]
	g = grep --break --heading --line-number
	l = log --abbrev-commit --graph -n 20 --pretty=format:'%Cgreen(%cr) %C(magenta)%h%Creset %C(cyan)%d%Creset %s %C(yellow)<%an>%Creset'

[core]
	editor = 'c:/program files/sublime text 2/sublime_text.exe' -w

[color]
  diff = auto
  status = auto
  branch = auto

[color "diff"]
  whitespace = blue reverse
  meta = white
  frag = yellow
  old = red
  new = green

[color "status"]
  changed = yellow
  added = green
  untracked = red

[color "branch"]
  current = green reverse
  local = green
  remote = blue

# https://github.com/ntwb
# https://twitter.com/netweb
# http://netweb.com.au