[user]
	name = Stephen Edgar
	email = stephen@netweb.com.au

[credential]

[push]
	default = simple

[grep]
	lineNumber = true
	extendRegexp = true

[alias]
	g = grep --break --heading --line-number
	l = log --abbrev-commit --graph -n 20 --all --format=format:'%C(magenta)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(yellow)- %cn%C(reset)%C(bold red)%d%C(reset)'

[core]
	editor = "subl -n -w"

[color]

[color "branch"]
	current = green reverse
	local = yellow
	remote = blue

[color "diff"]
	whitespace = blue reverse
	meta = magenta
	frag = yellow
	old = red
	new = green

[color "status"]
	added = yellow bold
	changed = green bold
	untracked = blue reverse
	header = blue reverse
	updated = red reverse
	branch = green reverse

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

# https://github.com/ntwb
# https://twitter.com/netweb
# https://netweb.com.au