[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = git://github.com/adobe/source-code-pro.git
[submodule "fonts/source-sans-pro"]
	path = fonts/source-sans-pro
	url = git://github.com/adobe/source-sans-pro.git
[submodule "themes/chrome-developer-tools"]
	path = themes/source-sans-pro
	url = git://github.com/simonowendesign/SO-Dark-Monokai-v3.git
